#trac-setup {
  list-style-image: url("16-security-key.png");
}

#trac-refresh {
  list-style-image: url("arrow_refresh.png");
}

#trac-pages {
  list-style-image: url("page.png");
}

#trac-tickets {
  list-style-image: url("bug.png");
}

#foxtracs-toolbar toolbarbutton label {
  display: none;
}

