#trac-setup {
  list-style-image: url("16-security-key.png");
}

#trac-refresh {
  list-style-image: url("arrow_refresh.png");
}

#trac-tickets {
  list-style-image: url("add.png");
}

#trac-tickets {
  list-style-image: url("bug.png");
}

#foxtracs-toolbar toolbarbutton label {
  display: none;
}

ticket {
  -moz-binding: url(chrome://foxtracs/content/widgets.xml#ticket);
}

